<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh0V0IYdBSXEeuPH4ZZJPSusGBUgptq6o</string>
	<key>GCM_SENDER_ID</key>
	<string>917672187801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shokutomo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shokutomo-1d684</string>
	<key>STORAGE_BUCKET</key>
	<string>shokutomo-1d684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917672187801:ios:84fe83ba1e17e3f46f6508</string>
	<key>DATABASE_URL</key>
	<string>https://shokutomo-1d684-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>